.u-section-11 {
    background-image: url("https://assets.nicepagecdn.com/d3e59427/4195167/images/pic6.jpg");
    background-position: 50% 50%;
    min-height: 660px;
  }
  .u-section-11 .u-sheet-1 {
    min-height: 1045px;
    margin: 50px;
  }
  
  .u-section-11 .u-group-1 {
    width: 534px;
    min-height: 385px;
    background-image: none;
    height: auto;
    margin: 229px auto 0 -31px;
  }
  .u-section-11 .u-form-1 {
    height: 472px;
    margin: 12px 0 0;
    /* height: 580px; */
    /* box-shadow: 0px 0px 0px 20px rgba(255,255,255,1); */
    background-image: none;
    margin: -920px -11px 60px 995px;
    margin-right: 50px;
    background: #747577 !important;
  }
  .u-section-11 .u-container-layout-1 {
    padding: 10px 60px 30px;
  }
  
  .u-section-11 .u-text-1 {
    font-size: 1.875rem;
    font-weight: 700;
    margin: 60px 0 0;
  }
  
  .u-section-11 .u-text-2 {
    font-weight: 700;
    font-size: 1.125rem;
    margin: 20px 0 0;
  }
  
  .u-section-11 .u-btn-1 {
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px auto 0 0;
  }
  
  .u-section-11 .u-group-2 {
    min-height: 664px;
    width: 412px;
    height: auto;
    margin: -551px -24px 60px auto;
  }
  
  .u-section-11 .u-container-layout-2 {
    padding: 0 12px 30px;
  }
  
  .u-section-11 .u-text-3 {
    font-weight: 700;
    margin: 18px 29px 0 9px;
  }
  
  .u-section-11 .u-form-1 {
    height: 472px;
    margin: 12px 0 0;
  }
  
  .u-section-11 .u-form-group-4 {
    margin-left: 0;
  }
  
  .u-section-11 .u-btn-2 {
    font-size: 1.25rem;
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    background-image: none;
    letter-spacing: 1px;
  }
  
  @media (max-width: 1199px) {
    .u-section-11 .u-sheet-1 {
      min-height: 862px;
    }
  
    .u-section-11 .u-group-1 {
      height: auto;
    }
  
    .u-section-11 .u-group-2 {
      height: auto;
    }
  
    .u-section-11 .u-form-1 {
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-11 .u-btn-2 {
      width: 100%;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-11 .u-sheet-1 {
      min-height: 660px;
    }
  
    .u-section-11 .u-container-layout-1 {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-11 .u-sheet-1 {
      min-height: 495px;
    }
  
    .u-section-11 .u-container-layout-1 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-11 .u-group-2 {
      margin-right: 0;
    }
  
    .u-section-11 .u-container-layout-2 {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-11 .u-sheet-1 {
      min-height: 312px;
    }
  
    .u-section-11 .u-group-1 {
      width: 340px;
      margin-left: 0;
    }
  
    .u-section-11 .u-group-2 {
      width: 340px;
    }
  
    .u-section-11 .u-text-3 {
      margin-left: 0;
      margin-right: 0;
    }
  }
  



   .u-section-21 {
    background-image: none;
  }
  
  .u-section-21 .u-sheet-1 {
    min-height: 190px;
  }
  
  .u-section-21 .u-list-1 {
    margin-top: 0;
    margin-bottom: 60px;
  }
  
  .u-section-21 .u-repeater-1 {
    grid-template-columns: repeat(7, calc(14.2857% - 8.57143px));
    min-height: 127px;
    grid-gap: 10px;
  }
  
  .u-section-21 .u-container-layout-1 {
    padding: 10px 0;
  }
  
  .u-section-21 .u-image-1 {
    height: 63px;
    width: 159px;
    margin: 26px -5px 0 auto;
  }
  
  .u-section-21 .u-container-layout-2 {
    padding: 10px 0;
  }
  
  .u-section-21 .u-image-2 {
    height: 63px;
    width: 159px;
    margin: 26px -5px 0 auto;
  }
  
  .u-section-21 .u-container-layout-3 {
    padding: 10px 0;
  }
  
  .u-section-21 .u-image-3 {
    height: 63px;
    width: 159px;
    margin: 26px -5px 0 auto;
  }
  
  .u-section-21 .u-container-layout-4 {
    padding: 10px 0;
  }
  
  .u-section-21 .u-image-4 {
    height: 63px;
    width: 159px;
    margin: 26px -5px 0 auto;
  }
  
  .u-section-21 .u-container-layout-5 {
    padding: 10px 0;
  }
  
  .u-section-21 .u-image-5 {
    height: 63px;
    width: 159px;
    margin: 26px -5px 0 auto;
  }
  
  .u-section-21 .u-container-layout-6 {
    padding: 10px 0;
  }
  
  .u-section-21 .u-image-6 {
    height: 63px;
    width: 159px;
    margin: 26px -5px 0 auto;
  }
  
  .u-section-21 .u-container-layout-7 {
    padding: 10px 0;
  }
  
  .u-section-21 .u-image-7 {
    height: 63px;
    width: 159px;
    margin: 26px -5px 0 auto;
  }
  
  @media (max-width: 1199px) {
    .u-section-21 .u-repeater-1 {
      min-height: 157px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-21 .u-repeater-1 {
      grid-template-columns: repeat(4, calc(25% - 7.5px));
      min-height: 421px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-21 .u-repeater-1 {
      grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
      min-height: 607px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-21 .u-repeater-1 {
      grid-template-columns: repeat(2, calc(50% - 5px));
      min-height: 764px;
    }
  }.u-section-31 .u-sheet-1 {
    min-height: 359px;
    margin: 60px;
  }
  
  .u-section-31 .u-text-1 {
    font-size: 1.875rem;
    font-weight: 700;
    margin: 23px 157px 0 74px;
  }
  
  .u-section-31 .u-list-1 {
    margin-top: 29px;
    margin-bottom: 31px;
  }
  
  .u-section-31 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 20px));
    min-height: 239px;
    grid-auto-columns: calc(33.3333% - 20px);
    grid-gap: 30px;
  }
  
  .u-section-31 .u-list-item-1 {
    background-image: none;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
    margin: auto;
  }
  
  .u-section-31 .u-container-layout-1 {
    padding: 30px 20px;
  }
  
  .u-section-31 .u-icon-1 {
    height: 51px;
   /* width: 51px;*/
    margin: 0 auto 0 0;
    margin-bottom: 70px;
  }
  
  .u-section-31 .u-group-1 {
    width: 243px;
    min-height: 179px;
    margin: -51px 0 0 auto;
  }
  
  .u-section-31 .u-container-layout-2 {
    padding-right: 20px;
    padding-left: 0;
  }
  
  .u-section-31 .u-text-2 {
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 1rem;
    margin: 0;
  }
  
  .u-section-31 .u-text-3 {
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 20px;
  }
  
  .u-section-31 .u-list-item-2 {
    background-image: none;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
    margin: auto;
  }
  
  .u-section-31 .u-container-layout-3 {
    padding: 30px 20px;
  }
  
  .u-section-31 .u-icon-2 {
    height: 51px;
    /*width: 51px;*/
    margin: 0 auto 0 0;
    margin-bottom: 70px;
  }
  
  .u-section-31 .u-group-2 {
    width: 243px;
    min-height: 179px;
    background-size: auto;
    margin: -51px 0 0 auto;
  }
  
  .u-section-31 .u-container-layout-4 {
    padding-right: 20px;
    padding-left: 0;
  }
  
  .u-section-31 .u-text-4 {
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 1rem;
    margin: 0;
  }
  
  .u-section-31 .u-text-5 {
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 20px;
  }
  
  .u-section-31 .u-list-item-3 {
    background-image: none;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
    margin: auto;
  }
  
  .u-section-31 .u-container-layout-5 {
    padding: 30px 20px;
  }
  
  .u-section-31 .u-icon-3 {
    height: 51px;
   /* width: 51px;*/
    margin: 0 auto 0 0;
    margin-bottom: 70px;
  }
  
  .u-section-31 .u-group-3 {
    width: 243px;
    min-height: 179px;
    background-size: auto;
    margin: -51px 0 0 auto;
  }
  
  .u-section-31 .u-container-layout-6 {
    padding-right: 20px;
    padding-left: 0;
  }
  
  .u-section-31 .u-text-6 {
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 1rem;
    margin: 0;
  }
  
  .u-section-31 .u-text-7 {
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 20px;
  }
  
  @media (max-width: 1199px) {
    .u-section-31 .u-text-1 {
      margin-right: 31px;
      margin-left: 0;
    }
  
    .u-section-31 .u-repeater-1 {
      min-height: 197px;
      grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
      grid-auto-columns: calc(33.333333333333336% - 20px);
    }
  
    .u-section-31 .u-icon-1 {
      padding: 10px;
    }
  
    .u-section-31 .u-group-1 {
      width: 177px;
      min-height: 196px;
    }
  
    .u-section-31 .u-icon-2 {
      padding: 10px;
    }
  
    .u-section-31 .u-group-2 {
      width: 177px;
      min-height: 196px;
    }
  
    .u-section-31 .u-text-4 {
      margin-right: 20px;
    }
  
    .u-section-31 .u-icon-3 {
      padding: 10px;
    }
  
    .u-section-31 .u-group-3 {
      width: 177px;
      min-height: 196px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-31 .u-text-1 {
      margin-right: 0;
    }
  
    .u-section-31 .u-repeater-1 {
      min-height: 453px;
      grid-template-columns: repeat(2, calc(50% - 15px));
      grid-auto-columns: calc(50% - 15px);
    }
  
    .u-section-31 .u-group-1 {
      width: 224px;
      min-height: 168px;
    }
  
    .u-section-31 .u-group-2 {
      width: 224px;
      min-height: 168px;
    }
  
    .u-section-31 .u-group-3 {
      width: 224px;
      min-height: 168px;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-31 .u-repeater-1 {
      min-height: 651px;
      grid-template-columns: 100%;
      grid-auto-columns: calc(100% - 0px);
    }
  
    .u-section-31 .u-container-layout-1 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-31 .u-group-1 {
      width: 391px;
      min-height: 137px;
    }
  
    .u-section-31 .u-container-layout-2 {
      padding-top: 0;
      padding-bottom: 0;
      padding-right: 0;
    }
  
    .u-section-31 .u-container-layout-3 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-31 .u-group-2 {
      width: 391px;
      min-height: 137px;
    }
  
    .u-section-31 .u-container-layout-4 {
      padding-top: 0;
      padding-bottom: 0;
      padding-right: 0;
    }
  
    .u-section-31 .u-container-layout-5 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-31 .u-group-3 {
      width: 391px;
      min-height: 137px;
    }
  
    .u-section-31 .u-container-layout-6 {
      padding-top: 0;
      padding-bottom: 0;
      padding-right: 0;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-31 .u-repeater-1 {
      grid-auto-columns: 100%;
    }
  
    .u-section-31 .u-group-1 {
      min-height: 134px;
      margin-top: 20px;
      width: 243px;
    }
  
    .u-section-31 .u-group-2 {
      min-height: 134px;
      margin-top: 20px;
      width: 243px;
    }
  
    .u-section-31 .u-text-4 {
      margin-right: 0;
    }
  
    .u-section-31 .u-group-3 {
      min-height: 134px;
      margin-top: 20px;
      width: 243px;
    }
  } .u-section-41 {
    min-height: 848px;
  }
  
  .u-section-41 .u-image-1 {
    min-height: 412px;
    margin-top: 41px;
    margin-bottom: 0;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("https://assets.nicepagecdn.com/d3e59427/4195167/images/Mutuelle-sante.jpg");
    background-position: 50% 50%;
    height: auto;
  }
  
  .u-section-41 .u-container-layout-1 {
    padding: 140px 30px 30px;
  }
  
  .u-section-41 .u-text-1 {
    text-transform: uppercase;
    font-size: 4.5rem;
    margin: 0 auto;
  }
  
  .u-section-41 .u-list-1 {
    width: 1151px;
    margin: -89px auto 41px calc(((100% - 1140px) / 2) + -11px);
  }
  
  .u-section-41 .u-repeater-1 {
    grid-template-columns: repeat(5, calc(20% - 12px));
    min-height: 443px;
    grid-auto-columns: calc(20% - 12px);
    grid-gap: 15px;
  }
  
  .u-section-41 .u-list-item-1 {
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  }
  
  .u-section-41 .u-container-layout-2 {
    padding: 5px 30px 13px;
  }
  
  .u-section-41 .u-icon-1 {
    height: 70px;
    width: 70px;
    margin: 1px auto 0;
  }
  
  .u-section-41 .u-text-2 {
    font-weight: 700;
    margin: 20px 0 0;
  }
  
  .u-section-41 .u-text-3 {
    font-style: italic;
    font-size: 0.875rem;
    margin: 20px 0 0;
  }
  
  .u-section-41 .u-list-item-2 {
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  }
  
  .u-section-41 .u-container-layout-3 {
    padding: 5px 30px 13px;
  }
  
  .u-section-41 .u-icon-2 {
    height: 70px;
    width: 70px;
    margin: 1px auto 0;
  }
  
  .u-section-41 .u-text-4 {
    font-weight: 700;
    margin: 20px 0 0;
  }
  
  .u-section-41 .u-text-5 {
    font-style: italic;
    font-size: 0.875rem;
    margin: 20px 0 0;
  }
  
  .u-section-41 .u-list-item-3 {
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  }
  
  .u-section-41 .u-container-layout-4 {
    padding: 5px 30px 13px;
  }
  
  .u-section-41 .u-icon-3 {
    height: 70px;
    width: 70px;
    margin: 1px auto 0;
  }
  
  .u-section-41 .u-text-6 {
    font-weight: 700;
    margin: 20px 0 0;
  }
  
  .u-section-41 .u-text-7 {
    font-style: italic;
    font-size: 0.875rem;
    margin: 20px 0 0;
  }
  
  .u-section-41 .u-list-item-4 {
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  }
  
  .u-section-41 .u-container-layout-5 {
    padding: 5px 30px 13px;
  }
  
  .u-section-41 .u-icon-4 {
    height: 70px;
    width: 70px;
    margin: 1px auto 0;
  }
  
  .u-section-41 .u-text-8 {
    font-weight: 700;
    margin: 20px 0 0;
  }
  
  .u-section-41 .u-text-9 {
    font-style: italic;
    font-size: 0.875rem;
    margin: 20px 0 0;
  }
  
  .u-section-41 .u-list-item-5 {
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  }
  
  .u-section-41 .u-container-layout-6 {
    padding: 5px 30px 13px;
  }
  
  .u-section-41 .u-icon-5 {
    height: 70px;
    width: 70px;
    margin: 1px auto 0;
  }
  
  .u-section-41 .u-text-10 {
    font-weight: 700;
    margin: 20px 0 0;
  }
  
  .u-section-41 .u-text-11 {
    font-style: italic;
    font-size: 0.875rem;
    margin: 20px 0 0;
  }
  
  @media (max-width: 1199px) {
     .u-section-41 {
      min-height: 750px;
    }
  
    .u-section-41 .u-image-1 {
      min-height: 377px;
      height: auto;
    }
  
    .u-section-41 .u-container-layout-1 {
      padding-top: 120px;
    }
  
    .u-section-41 .u-list-1 {
      width: 940px;
      margin-left: calc(((100% - 940px) / 2));
    }
  
    .u-section-41 .u-repeater-1 {
      min-height: 358px;
    }
  
    .u-section-41 .u-list-item-1 {
      transition-duration: 0.5s;
    }
  
    .u-section-41 .u-container-layout-2 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-41 .u-text-2 {
      transition-duration: 0.5s;
    }
  
    .u-section-41 .u-text-3 {
      transition-duration: 0.5s;
    }
  
    .u-section-41 .u-list-item-2 {
      transition-duration: 0.5s;
    }
  
    .u-section-41 .u-container-layout-3 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-41 .u-text-4 {
      transition-duration: 0.5s;
    }
  
    .u-section-41 .u-text-5 {
      transition-duration: 0.5s;
    }
  
    .u-section-41 .u-list-item-3 {
      transition-duration: 0.5s;
    }
  
    .u-section-41 .u-container-layout-4 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-41 .u-text-6 {
      transition-duration: 0.5s;
    }
  
    .u-section-41 .u-text-7 {
      transition-duration: 0.5s;
    }
  
    .u-section-41 .u-list-item-4 {
      transition-duration: 0.5s;
    }
  
    .u-section-41 .u-container-layout-5 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-41 .u-text-8 {
      transition-duration: 0.5s;
    }
  
    .u-section-41 .u-text-9 {
      transition-duration: 0.5s;
    }
  
    .u-section-41 .u-list-item-5 {
      transition-duration: 0.5s;
    }
  
    .u-section-41 .u-container-layout-6 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-41 .u-text-10 {
      transition-duration: 0.5s;
    }
  
    .u-section-41 .u-text-11 {
      transition-duration: 0.5s;
    }
  }
  
  @media (max-width: 991px) {
     .u-section-41 {
      min-height: 1089px;
    }
  
    .u-section-41 .u-container-layout-1 {
      padding-top: 100px;
    }
  
    .u-section-41 .u-list-1 {
      width: 720px;
      margin-left: calc(((100% - 720px) / 2));
    }
  
    .u-section-41 .u-repeater-1 {
      grid-auto-columns: calc(33.333333333333336% - 10px);
      min-height: 951px;
      grid-template-columns: repeat(3, calc(33.333333333333336% - 10px));
    }
  }
  
  @media (max-width: 767px) {
    .u-section-41 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-41 .u-list-1 {
      width: 540px;
      margin-left: calc(((100% - 540px) / 2));
    }
  
    .u-section-41 .u-repeater-1 {
      grid-auto-columns: calc(50% - 7.5px);
      min-height: 1632px;
      grid-template-columns: repeat(2, calc(50% - 7.5px));
    }
  }
  
  @media (max-width: 575px) {
     .u-section-41 {
      min-height: 1632px;
    }
  
    .u-section-41 .u-image-1 {
      min-height: 227px;
    }
  
    .u-section-41 .u-container-layout-1 {
      padding-top: 70px;
    }
  
    .u-section-41 .u-text-1 {
      font-size: 2.25rem;
    }
  
    .u-section-41 .u-list-1 {
      width: 340px;
      margin-left: calc(((100% - 340px) / 2));
    }
  
    .u-section-41 .u-repeater-1 {
      grid-auto-columns: calc(100% - 0px);
      grid-template-columns: 100%;
    }
  }
  
  .u-section-41 .u-list-item-5:not([data-block-selected]):not([data-cell-selected]),
  .u-section-41 .u-list-item-5:not([data-block-selected]):not([data-cell-selected]):before,
  .u-section-41 .u-list-item-5:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
  }
  
  .u-section-41 .u-list-item-5:not([data-block-selected]):not([data-cell-selected]).u-section-41 .u-list-item-5:not([data-block-selected]):not([data-cell-selected]).u-section-4 .u-list-item-5:not([data-block-selected]):not([data-cell-selected]):hover:before {
    background-color: #332b29 !important;
  }
  
  .u-block-6bfa-62:not([data-block-selected]):not([data-cell-selected]),
  .u-block-6bfa-62:not([data-block-selected]):not([data-cell-selected]):before,
  .u-block-6bfa-62:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
  }
  
  .u-block-6bfa-62:not([data-block-selected]):not([data-cell-selected]).u-block-6bfa-62:not([data-block-selected]):not([data-cell-selected]).u-block-6bfa-62:not([data-block-selected]):not([data-cell-selected]):hover:before {
    background-color: #332b29 !important;
  }
  
  .u-block-6bfa-68:not([data-block-selected]):not([data-cell-selected]),
  .u-block-6bfa-68:not([data-block-selected]):not([data-cell-selected]):before,
  .u-block-6bfa-68:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
  }
  
  .u-block-6bfa-68:not([data-block-selected]):not([data-cell-selected]).u-block-6bfa-68:not([data-block-selected]):not([data-cell-selected]).u-block-6bfa-68:not([data-block-selected]):not([data-cell-selected]):hover:before {
    background-color: #332b29 !important;
  }
  
  .u-block-6bfa-74:not([data-block-selected]):not([data-cell-selected]),
  .u-block-6bfa-74:not([data-block-selected]):not([data-cell-selected]):before,
  .u-block-6bfa-74:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
  }
  
  .u-block-6bfa-74:not([data-block-selected]):not([data-cell-selected]).u-block-6bfa-74:not([data-block-selected]):not([data-cell-selected]).u-block-6bfa-74:not([data-block-selected]):not([data-cell-selected]):hover:before {
    background-color: #332b29 !important;
  }
  
  .u-section-41 .u-text-10:not([data-block-selected]):not([data-cell-selected]),
  .u-section-41 .u-text-10:not([data-block-selected]):not([data-cell-selected]):before,
  .u-section-41 .u-text-10:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
  }
  
  .u-section-41 .u-container-layout:hover .u-text-10:not([data-block-selected]):not([data-cell-selected]) {
    color: #ffffff !important;
  }
  
  .u-container-layout.hover .u-section-41 .u-text-10:not([data-block-selected]):not([data-cell-selected]) {
    color: #ffffff !important;
  }
  
  .u-block-6bfa-65:not([data-block-selected]):not([data-cell-selected]),
  .u-block-6bfa-65:not([data-block-selected]):not([data-cell-selected]):before,
  .u-block-6bfa-65:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
  }
  
  .u-container-layout:hover .u-block-6bfa-65:not([data-block-selected]):not([data-cell-selected]) {
    color: #ffffff !important;
  }
  
  .u-container-layout.hover .u-block-6bfa-65:not([data-block-selected]):not([data-cell-selected]) {
    color: #ffffff !important;
  }
  
  .u-block-6bfa-71:not([data-block-selected]):not([data-cell-selected]),
  .u-block-6bfa-71:not([data-block-selected]):not([data-cell-selected]):before,
  .u-block-6bfa-71:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
  }
  
  .u-container-layout:hover .u-block-6bfa-71:not([data-block-selected]):not([data-cell-selected]) {
    color: #ffffff !important;
  }
  
  .u-container-layout.hover .u-block-6bfa-71:not([data-block-selected]):not([data-cell-selected]) {
    color: #ffffff !important;
  }
  
  .u-block-6bfa-77:not([data-block-selected]):not([data-cell-selected]),
  .u-block-6bfa-77:not([data-block-selected]):not([data-cell-selected]):before,
  .u-block-6bfa-77:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
  }
  
  .u-container-layout:hover .u-block-6bfa-77:not([data-block-selected]):not([data-cell-selected]) {
    color: #ffffff !important;
  }
  
  .u-container-layout.hover .u-block-6bfa-77:not([data-block-selected]):not([data-cell-selected]) {
    color: #ffffff !important;
  }
  
  .u-block-6bfa-66:not([data-block-selected]):not([data-cell-selected]),
  .u-block-6bfa-66:not([data-block-selected]):not([data-cell-selected]):before,
  .u-block-6bfa-66:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
  }
  
  .u-container-layout:hover .u-block-6bfa-66:not([data-block-selected]):not([data-cell-selected]) {
    color: #ffffff !important;
  }
  
  .u-container-layout.hover .u-block-6bfa-66:not([data-block-selected]):not([data-cell-selected]) {
    color: #ffffff !important;
  }
  
  .u-section-41 .u-text-11:not([data-block-selected]):not([data-cell-selected]),
  .u-section-41 .u-text-11:not([data-block-selected]):not([data-cell-selected]):before,
  .u-section-41 .u-text-11:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
  }
  
  .u-section-41 .u-container-layout:hover .u-text-11:not([data-block-selected]):not([data-cell-selected]) {
    color: #ffffff !important;
  }
  
  .u-container-layout.hover .u-section-41 .u-text-11:not([data-block-selected]):not([data-cell-selected]) {
    color: #ffffff !important;
  }
  
  .u-block-6bfa-72:not([data-block-selected]):not([data-cell-selected]),
  .u-block-6bfa-72:not([data-block-selected]):not([data-cell-selected]):before,
  .u-block-6bfa-72:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
  }
  
  .u-container-layout:hover .u-block-6bfa-72:not([data-block-selected]):not([data-cell-selected]) {
    color: #ffffff !important;
  }
  
  .u-container-layout.hover .u-block-6bfa-72:not([data-block-selected]):not([data-cell-selected]) {
    color: #ffffff !important;
  }
  
  .u-block-6bfa-78:not([data-block-selected]):not([data-cell-selected]),
  .u-block-6bfa-78:not([data-block-selected]):not([data-cell-selected]):before,
  .u-block-6bfa-78:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
  }
  
  .u-container-layout:hover .u-block-6bfa-78:not([data-block-selected]):not([data-cell-selected]) {
    color: #ffffff !important;
  }
  
  .u-container-layout.hover .u-block-6bfa-78:not([data-block-selected]):not([data-cell-selected]) {
    color: #ffffff !important;
  }
  
  .u-block-6bfa-61:not([data-block-selected]):not([data-cell-selected]),
  .u-block-6bfa-61:not([data-block-selected]):not([data-cell-selected]):before,
  .u-block-6bfa-61:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
  }
  
  .u-container-layout:hover .u-block-6bfa-61:not([data-block-selected]):not([data-cell-selected]) {
    transform: translateX(0px) translateY(-5px) scale(1) !important;
  }
  
  .u-container-layout.hover .u-block-6bfa-61:not([data-block-selected]):not([data-cell-selected]) {
    transform: translateX(0px) translateY(-5px) scale(1) !important;
  }
  
  .u-block-6bfa-67:not([data-block-selected]):not([data-cell-selected]),
  .u-block-6bfa-67:not([data-block-selected]):not([data-cell-selected]):before,
  .u-block-6bfa-67:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
  }
  
  .u-container-layout:hover .u-block-6bfa-67:not([data-block-selected]):not([data-cell-selected]) {
    transform: translateX(0px) translateY(-5px) scale(1) !important;
  }
  
  .u-container-layout.hover .u-block-6bfa-67:not([data-block-selected]):not([data-cell-selected]) {
    transform: translateX(0px) translateY(-5px) scale(1) !important;
  }
  
  .u-block-6bfa-73:not([data-block-selected]):not([data-cell-selected]),
  .u-block-6bfa-73:not([data-block-selected]):not([data-cell-selected]):before,
  .u-block-6bfa-73:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
  }
  
  .u-container-layout:hover .u-block-6bfa-73:not([data-block-selected]):not([data-cell-selected]) {
    transform: translateX(0px) translateY(-5px) scale(1) !important;
  }
  
  .u-container-layout.hover .u-block-6bfa-73:not([data-block-selected]):not([data-cell-selected]) {
    transform: translateX(0px) translateY(-5px) scale(1) !important;
  }
  
  .u-block-6bfa-79:not([data-block-selected]):not([data-cell-selected]),
  .u-block-6bfa-79:not([data-block-selected]):not([data-cell-selected]):before,
  .u-block-6bfa-79:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
  }
  
  .u-container-layout:hover .u-block-6bfa-79:not([data-block-selected]):not([data-cell-selected]) {
    transform: translateX(0px) translateY(-5px) scale(1) !important;
  }
  
  .u-container-layout.hover .u-block-6bfa-79:not([data-block-selected]):not([data-cell-selected]) {
    transform: translateX(0px) translateY(-5px) scale(1) !important;
  } .u-section-51 {
    background-image: url("https://assets.nicepagecdn.com/d3e59427/4195167/images/pic14jpg.jpg");
    background-position: 50% 50%;
  }
  
  .u-section-51 .u-sheet-1 {
    min-height: 775px;
    margin: 60px;
  }
  
  .u-section-51 .u-list-1 {
    width: 510px;
    margin: 132px auto 60px 0;
  }
  
  .u-section-51 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 6px));
    min-height: 512px;
    grid-auto-columns: calc(50% - 6px);
    grid-gap: 12px;
  }
  
  .u-section-51 .u-list-item-1 {
    background-image: none;
  }
  
  .u-section-51 .u-container-layout-1 {
    padding: 30px;
  }
  
  .u-section-51 .u-icon-1 {
    height: 70px;
    width: 70px;
    margin: 0 auto 0 0;
  }
  
  .u-section-51 .u-text-1 {
    font-weight: 400;
    font-size: 1.25rem;
    margin: 20px 0 0;
  }
  
  .u-section-51 .u-container-layout-2 {
    padding: 30px;
  }
  
  .u-section-51 .u-icon-2 {
    height: 70px;
    width: 70px;
    margin: 0 auto 0 0;
  }
  
  .u-section-51 .u-text-2 {
    font-weight: 400;
    font-size: 1.25rem;
    margin: 20px 0 0;
  }
  
  .u-section-51 .u-container-layout-3 {
    padding: 30px;
  }
  
  .u-section-51 .u-icon-3 {
    height: 70px;
    width: 70px;
    margin: 0 auto 0 0;
  }
  
  .u-section-51 .u-text-3 {
    font-weight: 400;
    font-size: 1.25rem;
    margin: 20px 0 0;
  }
  
  .u-section-51 .u-container-layout-4 {
    padding: 30px;
  }
  
  .u-section-51 .u-icon-4 {
    height: 70px;
    width: 70px;
    margin: 0 auto 0 0;
  }
  
  .u-section-51 .u-text-4 {
    font-weight: 400;
    font-size: 1.25rem;
    margin: 20px 0 0;
  }
  
  @media (max-width: 1199px) {
     .u-section-51 {
      background-position: 72.12% 50%;
    }
  
    .u-section-51 .u-sheet-1 {
      min-height: 639px;
    }
  
    .u-section-51 .u-icon-1 {
      padding: 14px;
    }
  
    .u-section-51 .u-icon-2 {
      padding: 14px;
    }
  
    .u-section-51 .u-icon-3 {
      padding: 14px;
    }
  
    .u-section-51 .u-icon-4 {
      padding: 14px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-51 .u-sheet-1 {
      min-height: 1219px;
    }
  
    .u-section-51 .u-list-1 {
      width: 288px;
    }
  
    .u-section-51 .u-repeater-1 {
      grid-template-columns: 100%;
      grid-auto-columns: calc(100% - 0px);
    }
  }
  
  @media (max-width: 767px) {
    .u-section-51 .u-sheet-1 {
      min-height: 914px;
    }
  
    .u-section-51 .u-repeater-1 {
      grid-auto-columns: 100%;
    }
  
    .u-section-51 .u-container-layout-1 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-51 .u-container-layout-2 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-51 .u-container-layout-3 {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .u-section-51 .u-container-layout-4 {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  
  @media (max-width: 575px) {
     .u-section-51 {
      background-position: 72.71% 50%;
    }
  
    .u-section-51 .u-sheet-1 {
      min-height: 1119px;
    }
  
    .u-section-51 .u-list-1 {
      width: 229px;
    }
  }.u-section-61 .u-sheet-1 {
    min-height: 955px;
  }
  
  .u-section-61 .u-layout-wrap-1 {
    width: 1103px;
    margin: 76px auto 60px;
  }
  
  .u-section-61 .u-layout-cell-1 {
    min-height: 859px;
    /*padding: 30px;*/
    margin-bottom: 10px;
  }
  
  .u-section-61 .u-container-layout-1 {
    padding: 26px 42px;
  }
  
  .u-section-61 .u-text-1 {
    font-weight: 700;
    margin: 247px 8px 0;
  }
  
  .u-section-61 .u-layout-cell-2 {
    min-height: 843px;
  }
  
  .u-section-61 .u-container-layout-2 {
    padding: 0 20px;
  }
  
  .u-section-61 .u-list-1 {
    width: 522px;
    margin: 15px auto 0 0;
  }
  
  .u-section-61 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    min-height: 511px;
    grid-gap: 10px;
  }
  
  .u-section-61 .u-container-layout-3 {
    padding: 20px 0 20px 30px;
  }
  
  .u-section-61 .u-icon-1 {
    height: 77px;
    width: 77px;
    margin: 7px auto 0 0;
  }
  
  .u-section-61 .u-group-1 {
    width: 403px;
    min-height: 112px;
    height: auto;
    margin: -72px 0 0 auto;
  }
  
  .u-section-61 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 30px;
  }
  
  .u-section-61 .u-text-2 {
    font-weight: 700;
    margin: 0;
  }
  
  .u-section-61 .u-text-3 {
    font-weight: 700;
    margin: 20px 0 0;
  }
  
  .u-section-61 .u-container-layout-5 {
    padding: 20px 0 20px 30px;
  }
  
  .u-section-61 .u-icon-2 {
    height: 77px;
    width: 77px;
    margin: 7px auto 0 0;
  }
  
  .u-section-61 .u-group-2 {
    width: 403px;
    min-height: 112px;
    height: auto;
    background-size: auto;
    margin: -72px 0 0 auto;
  }
  
  .u-section-61 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 30px;
  }
  
  .u-section-61 .u-text-4 {
    font-weight: 700;
    margin: 0 auto 0 0;
  }
  
  .u-section-61 .u-text-5 {
    font-weight: 700;
    margin: 20px auto 0 0;
  }
  
  .u-section-61 .u-container-layout-7 {
    padding: 20px 0 20px 30px;
  }
  
  .u-section-61 .u-icon-3 {
    height: 77px;
    width: 77px;
    margin: 7px auto 0 0;
  }
  
  .u-section-61 .u-group-3 {
    width: 403px;
    min-height: 112px;
    height: auto;
    background-size: auto;
    margin: -72px 0 0 auto;
  }
  
  .u-section-61 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 30px;
  }
  
  .u-section-61 .u-text-6 {
    font-weight: 700;
    margin: 0 auto 0 0;
  }
  
  .u-section-61 .u-text-7 {
    font-weight: 700;
    margin: 20px auto 0 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-61 .u-sheet-1 {
      min-height: 589px;
    }
  
    .u-section-61 .u-layout-wrap-1 {
      width: 940px;
    }
  
    .u-section-61 .u-layout-cell-1 {
      min-height: 483px;
    }
  
    .u-section-61 .u-container-layout-1 {
      padding-left: 40px;
      padding-right: 40px;
    }
  
    .u-section-61 .u-text-1 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-61 .u-layout-cell-2 {
      min-height: 483px;
    }
  
    .u-section-61 .u-list-1 {
      width: 418px;
    }
  
    .u-section-61 .u-repeater-1 {
      grid-template-columns: 100%;
    }
  
    .u-section-61 .u-container-layout-3 {
      padding-left: 20px;
    }
  
    .u-section-61 .u-icon-1 {
      padding: 15px;
    }
  
    .u-section-61 .u-group-1 {
      width: 303px;
      min-height: 121px;
      margin-right: 5px;
      height: auto;
    }
  
    .u-section-61 .u-container-layout-4 {
      padding-top: 0;
      padding-right: 0;
      padding-bottom: 0;
    }
  
    .u-section-61 .u-text-2 {
      margin-right: auto;
    }
  
    .u-section-61 .u-text-3 {
      margin-right: auto;
      font-size: 1rem;
    }
  
    .u-section-61 .u-container-layout-5 {
      padding-left: 20px;
    }
  
    .u-section-61 .u-icon-2 {
      padding: 15px;
    }
  
    .u-section-61 .u-group-2 {
      width: 303px;
      min-height: 121px;
      margin-right: 5px;
      height: auto;
    }
  
    .u-section-61 .u-container-layout-6 {
      padding-top: 0;
      padding-right: 0;
      padding-bottom: 0;
    }
  
    .u-section-61 .u-text-5 {
      font-size: 1rem;
    }
  
    .u-section-61 .u-container-layout-7 {
      padding-left: 20px;
    }
  
    .u-section-61 .u-icon-3 {
      padding: 15px;
    }
  
    .u-section-61 .u-group-3 {
      width: 303px;
      min-height: 121px;
      margin-right: 5px;
      height: auto;
    }
  
    .u-section-61 .u-container-layout-8 {
      padding-top: 0;
      padding-right: 0;
      padding-bottom: 0;
    }
  
    .u-section-61 .u-text-7 {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-61 .u-sheet-1 {
      min-height: 384px;
    }
  
    .u-section-61 .u-layout-wrap-1 {
      width: 720px;
    }
  
    .u-section-61 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .u-section-61 .u-container-layout-1 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .u-section-61 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-61 .u-list-1 {
      width: 308px;
    }
  
    .u-section-61 .u-group-1 {
      width: 288px;
      margin-top: 20px;
      margin-right: 0;
    }
  
    .u-section-61 .u-container-layout-4 {
      padding-left: 0;
    }
  
    .u-section-61 .u-group-2 {
      width: 288px;
      margin-top: 20px;
      margin-right: 0;
    }
  
    .u-section-61 .u-container-layout-6 {
      padding-left: 0;
    }
  
    .u-section-61 .u-group-3 {
      width: 288px;
      margin-top: 20px;
      margin-right: 0;
    }
  
    .u-section-61 .u-container-layout-8 {
      padding-left: 0;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-61 .u-sheet-1 {
      min-height: 935px;
    }
  
    .u-section-61 .u-layout-wrap-1 {
      width: 540px;
      margin-top: 60px;
    }
  
    .u-section-61 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-61 .u-layout-cell-2 {
      min-height: 461px;
    }
  
    .u-section-61 .u-container-layout-2 {
      padding-left: 0;
      padding-right: 0;
    }
  
    .u-section-61 .u-list-1 {
      width: 530px;
      margin-top: 0;
      margin-right: 0;
      margin-left: 10px;
    }
  
    .u-section-61 .u-repeater-1 {
      min-height: 467px;
    }
  
    .u-section-61 .u-container-layout-3 {
      padding-top: 0;
      padding-left: 10px;
    }
  
    .u-section-61 .u-icon-1 {
      margin-top: 11px;
    }
  
    .u-section-61 .u-group-1 {
      width: 415px;
      min-height: 116px;
      margin-top: -65px;
    }
  
    .u-section-61 .u-container-layout-5 {
      padding-top: 0;
      padding-left: 10px;
    }
  
    .u-section-61 .u-icon-2 {
      margin-top: 11px;
    }
  
    .u-section-61 .u-group-2 {
      width: 415px;
      min-height: 116px;
      margin-top: -65px;
    }
  
    .u-section-61 .u-container-layout-7 {
      padding-top: 0;
      padding-left: 10px;
    }
  
    .u-section-61 .u-icon-3 {
      margin-top: 11px;
    }
  
    .u-section-61 .u-group-3 {
      width: 415px;
      min-height: 116px;
      margin-top: -65px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-61 .u-sheet-1 {
      min-height: 218px;
    }
  
    .u-section-61 .u-layout-wrap-1 {
      width: 340px;
    }
  
    .u-section-61 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-61 .u-list-1 {
      width: 340px;
      margin-left: 0;
    }
  
    .u-section-61 .u-group-1 {
      width: 330px;
      margin-top: 20px;
    }
  
    .u-section-61 .u-group-2 {
      width: 330px;
      margin-top: 20px;
    }
  
    .u-section-61 .u-group-3 {
      width: 330px;
      margin-top: 20px;
    }
  }.u-section-71 .u-sheet-1 {
    min-height: 818px;
    margin: 60px;
  }
  
  .u-section-71 .u-text-1 {
    font-size: 1.875rem;
    font-weight: 700;
    margin: 108px auto 0;
  }
  
  .u-section-71 .u-list-1 {
    height: auto;
    margin: 86px auto 0 0;
  }
  
  .u-section-71 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.3333%);
    min-height: 559px;
    grid-gap: 0px;
  }
  
  .u-section-71 .u-container-layout-1 {
    padding: 30px;
  }
  
  .u-section-71 .u-image-1 {
    width: 160px;
    height: 240px;
    background-image: url("/images/avataaars.png");
    background-position: 50% 50%;
    margin: 0 auto;
  }
  
  .u-section-71 .u-text-2 {
    text-transform: none;
    margin: 20px auto 0;
  }
  
  .u-section-71 .u-text-3 {
    font-weight: 700;
    margin: 12px auto 0;
  }
  
  .u-section-71 .u-text-4 {
    font-style: italic;
    font-size: 1.25rem;
    margin: 23px 1px 0 0;
  }
  
  .u-section-71 .u-social-icons-1 {
    white-space: nowrap;
    height: 27px;
    min-height: 16px;
    width: 138px;
    min-width: 94px;
    margin: 20px auto 0;
  }
  
  .u-section-71 .u-icon-1 {
    height: 100%;
  }
  
  .u-section-71 .u-icon-2 {
    height: 100%;
  }
  
  .u-section-71 .u-icon-3 {
    height: 100%;
  }
  
  .u-section-71 .u-icon-4 {
    height: 100%;
  }
  
  .u-section-71 .u-container-layout-2 {
    padding: 30px;
  }
  
  .u-section-71 .u-image-2 {
    width: 160px;
    height: 240px;
    background-image: url("/images/avataaars3.png");
    background-position: 50% 50%;
    margin: 0 auto;
  }
  
  .u-section-71 .u-text-5 {
    text-transform: none;
    font-size: 1.5rem;
    margin: 20px auto 0;
  }
  
  .u-section-71 .u-text-6 {
    font-weight: 700;
    margin: 12px auto 0;
  }
  
  .u-section-71 .u-text-7 {
    font-style: italic;
    font-size: 1.25rem;
    margin: 23px 1px 0 0;
  }
  
  .u-section-71 .u-social-icons-2 {
    white-space: nowrap;
    height: 27px;
    min-height: 16px;
    width: 138px;
    min-width: 94px;
    margin: 20px auto 0;
  }
  
  .u-section-71 .u-icon-5 {
    height: 100%;
  }
  
  .u-section-71 .u-icon-6 {
    height: 100%;
  }
  
  .u-section-71 .u-icon-7 {
    height: 100%;
  }
  
  .u-section-71 .u-icon-8 {
    height: 100%;
  }
  
  .u-section-71 .u-container-layout-3 {
    padding: 30px;
  }
  
  .u-section-71 .u-image-3 {
    width: 160px;
    height: 240px;
    background-image: url("/images/avataaars1.png");
    background-position: 50% 50%;
    margin: 0 auto;
  }
  
  .u-section-71 .u-text-8 {
    text-transform: none;
    font-size: 1.5rem;
    margin: 20px auto 0;
  }
  
  .u-section-71 .u-text-9 {
    font-weight: 700;
    margin: 12px auto 0;
  }
  
  .u-section-71 .u-text-10 {
    font-style: italic;
    font-size: 1.25rem;
    margin: 23px 1px 0 0;
  }
  
  .u-section-71 .u-social-icons-3 {
    white-space: nowrap;
    height: 27px;
    min-height: 16px;
    width: 138px;
    min-width: 94px;
    margin: 20px auto 0;
  }
  
  .u-section-71 .u-icon-9 {
    height: 100%;
  }
  
  .u-section-71 .u-icon-10 {
    height: 100%;
  }
  
  .u-section-71 .u-icon-11 {
    height: 100%;
  }
  
  .u-section-71 .u-icon-12 {
    height: 100%;
  }
  
  @media (max-width: 1199px) {
    .u-section-71 .u-list-1 {
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-71 .u-text-4 {
      margin-right: 0;
    }
  
    .u-section-71 .u-text-7 {
      margin-right: 0;
    }
  
    .u-section-71 .u-text-10 {
      margin-right: 0;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-71 .u-repeater-1 {
      grid-template-columns: repeat(2, 50%);
    }
  }
  
  @media (max-width: 767px) {
    .u-section-71 .u-repeater-1 {
      grid-template-columns: repeat(1, 100%);
    }
  
    .u-section-71 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-71 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-71 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-71 .u-list-1 {
      margin-top: 111px;
      margin-right: initial;
      margin-left: initial;
    }
  }.u-section-81 .u-sheet-1 {
    min-height: 863px;
  }
  
  .u-section-81 .u-layout-wrap-1 {
    margin-top: 48px;
    margin-bottom: 60px;
  }
  
  .u-section-81 .u-layout-cell-1 {
    min-height: 1198px;
  }
  
  .u-section-81 .u-container-layout-1 {
    padding: 0;
  }
  
  .u-section-81 .u-image-1 {
    height: 764px;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .u-section-81 .u-layout-cell-2 {
    min-height: 704px;
    background-image: none;
  }
  
  .u-section-81 .u-container-layout-2 {
    padding: 30px 30px 28px;
  }
  
  .u-section-81 .u-accordion-1 {
    margin: 0 auto 0 0;
  }
  
  .u-section-81 .u-accordion-item-1 {
    margin-left: auto;
    margin-right: auto;
  }
  
  .u-section-81 .u-accordion-link-1 {
    background-image: none;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
  }
  
  .u-section-81 .u-icon-1 {
    height: 40px;
    width: 40px;
    background-image: none;
    padding: 10px;
  }
  
  .u-section-81 .u-accordion-pane-1 {
    min-height: 150px;
    background-image: none;
  }
  
  .u-section-81 .u-container-layout-3 {
    padding: 30px;
  }
  
  .u-section-81 .u-text-1 {
    font-weight: 700;
    margin: 0;
  }
  
  .u-section-81 .u-accordion-item-2 {
    margin-left: auto;
    margin-right: auto;
  }
  
  .u-section-81 .u-accordion-link-2 {
    background-image: none;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
  }
  
  .u-section-81 .u-icon-2 {
    height: 40px;
    width: 40px;
    background-image: none;
    padding: 10px;
  }
  
  .u-section-81 .u-accordion-pane-2 {
    min-height: 150px;
    background-image: none;
  }
  
  .u-section-81 .u-container-layout-4 {
    padding: 30px;
  }
  
  .u-section-81 .u-text-2 {
    line-height: 1.6;
    margin: 0;
  }
  
  .u-section-81 .u-accordion-item-3 {
    margin-left: auto;
    margin-right: auto;
  }
  
  .u-section-81 .u-accordion-link-3 {
    background-image: none;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
  }
  
  .u-section-81 .u-icon-3 {
    height: 40px;
    width: 40px;
    background-image: none;
    padding: 10px;
  }
  
  .u-section-81 .u-accordion-pane-3 {
    min-height: 150px;
    background-image: none;
  }
  
  .u-section-81 .u-container-layout-5 {
    padding: 30px;
  }
  
  .u-section-81 .u-text-3 {
    margin: 0;
  }
  
  .u-section-81 .u-accordion-item-4 {
    margin-left: auto;
    margin-right: auto;
  }
  
  .u-section-81 .u-accordion-link-4 {
    background-image: none;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
  }
  
  .u-section-81 .u-icon-4 {
    height: 40px;
    width: 40px;
    background-image: none;
    padding: 10px;
  }
  
  .u-section-81 .u-accordion-pane-4 {
    min-height: 150px;
    background-image: none;
  }
  
  .u-section-81 .u-container-layout-6 {
    padding: 30px;
  }
  
  .u-section-81 .u-text-4 {
    margin: 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-81 .u-sheet-1 {
      min-height: 700px;
    }
  
    .u-section-81 .u-layout-cell-1 {
      min-height: 988px;
    }
  
    .u-section-81 .u-image-1 {
      height: 630px;
    }
  
    .u-section-81 .u-layout-cell-2 {
      min-height: 580px;
    }
  
    .u-section-81 .u-accordion-1 {
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-81 .u-accordion-pane-1 {
      margin-left: auto;
      margin-right: 0;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-81 .u-sheet-1 {
      min-height: 220px;
    }
  
    .u-section-81 .u-layout-cell-1 {
      min-height: 757px;
    }
  
    .u-section-81 .u-image-1 {
      height: 483px;
    }
  
    .u-section-81 .u-layout-cell-2 {
      min-height: 100px;
    }
  
    .u-section-81 .u-container-layout-2 {
      padding-left: 0;
      padding-right: 0;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-81 .u-sheet-1 {
      min-height: 320px;
    }
  
    .u-section-81 .u-layout-cell-1 {
      min-height: 431px;
    }
  
    .u-section-81 .u-image-1 {
      height: 725px;
    }
  
    .u-section-81 .u-accordion-1 {
      margin-bottom: -215px;
      margin-right: initial;
      margin-left: initial;
    }
  
    .u-section-81 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-81 .u-container-layout-4 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-81 .u-container-layout-5 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-81 .u-container-layout-6 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-81 .u-layout-cell-1 {
      min-height: 271px;
    }
  
    .u-section-81 .u-image-1 {
      height: 456px;
    }
  }